@import "_fonts";
@import "_nullstyle";
@import "_articles";

/* Вспомогатеьная информация: 
1) flex: grow shrink basis(размер) */
section {
   margin-top: 100px;
   @media (max-width: 1200px) {
      margin-top: 30 / 1200 * 100vw;
   }
}

body.lock {
   @media (max-width: 767px), (max-height: 767px) {
      overflow: hidden;
   }
}
::-webkit-scrollbar {
   width: 0px;
   background: transparent;
}
// =================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

// КОНТЕЙНЕР
.container {
   max-width: 1200px;
   padding: 0px 30px;
   margin: 0 auto;
}
// ==================================
// ОБОЛОЧКА ДЛЯ СОЗДАНИЯ ФУЛСКРИНА
.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
}
.btn {
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;
   padding: 23px 0px;
   border: 2px solid #000;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 1 auto;
   &:hover {
      background-color: #000;
      color: #fff;
      cursor: pointer;
      transition: 0.15s background-color ease-in;
   }
   @media (max-width: 1125px) {
      flex: 0 2 48%;
   }
   @media (max-width: 1000px) {
      font-size: calc(15px + (7 + 7 * 0.7) * ((100vw - 320px) / 1200));
   }
}
.title {
   font-weight: 700;
   font-size: 80px;
   line-height: 94px;
   @media (max-width: 1125px) {
      font-size: 60px;
      line-height: 70px;
   }
   @media (max-width: 1000px) {
      font-size: calc(26px + (67 + 67 * 0.7) * ((100vw - 320px) / 1200));
      line-height: calc(31px + (39 + 39 * 0.7) * ((100vw - 320px) / 1200));
   }
}
.subtitle {
   font-weight: 400;
   font-size: 23px;
   line-height: 27px;
   @media (max-width: 1000px) {
      text-align: justify;
      font-size: calc(13px + (10 + 10 * 0.7) * ((100vw - 320px) / 1200));
      line-height: calc(20px + (7 + 7 * 0.7) * ((100vw - 320px) / 1200));
   }
}

.title-card {
   font-size: 50px;
   font-weight: 700;
   line-height: 59px;
   text-align: left;
   @media (max-width: 1000px) {
      font-size: 38px;
      line-height: 49px;
   }
}
// ==================================
// ШАПКА
@import "_header.scss";
// =================================
// ФУЛЛСКРИНОВЫЙ ЭКРАН
.main-screen {
   flex: 1 0 100%;
   position: relative;
   overflow: hidden;
   background-color: #f7d5ca;
   padding-top: $height;

   @media (orientation: portrait) and (max-width: 768px) {
      padding-top: 0;
   }
   @media (orientation: landscape) and (max-height: 768px) {
      padding-top: 0;
   }

   &__bg-image {
      padding-top: $height;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      img {
         display: block;
         object-fit: contain;
         height: 100%;
      }
      @media (orientation: portrait) and (max-width: 768px) {
         padding-top: 0;
      }
      @media (orientation: landscape) and (max-height: 768px) {
         padding-top: 0;
      }
   }

   &__information-inner {
      max-width: 665px;
      background-color: #fff;
      padding: 50px 60px 45px 60px;
      margin-top: 73px;
      flex: 0 5 55%;
      @media (orientation: portrait) and (max-width: 768px) {
         flex: 0 5 55%;
         padding: 17px;
      }
      @media (orientation: landscape) and (max-height: 768px) {
         flex: 0 5 55%;
         padding: 17px;
      }
      @media (max-width: 400px) {
         display: flex;
         flex-direction: column;
         margin: auto 0 10px;
         justify-content: end;
      }
   }

   &__information-title {
      margin-bottom: 32px;
      white-space: nowrap;
      @media (max-width: 400px) {
         margin-bottom: 8px;
      }
   }

   &__information-subtitle {
      margin-bottom: 41px;
      @media (max-width: 400px) {
         margin-bottom: 10px;
      }
   }

   &__information-btn-inner {
      max-width: 415px;
      display: flex;
      justify-content: space-between;
      font-size: calc(15px + (7 + 7 * 0.7) * ((100vw - 320px) / 1200));
      @media (orientation: portrait) and (max-width: 600px) {
         margin: 0px -5px;
      }
      @media (orientation: landscape) and (max-height: 600px) {
         margin: 0px -5px;
      }
      @media (max-width: 400px) {
         margin: 0;
         flex-direction: column;
      }
   }
   &__information-btn-inner button {
      margin: 10px 5px 0px;
      min-width: none;
      @media (max-width: 1000px) {
         padding: 10px 0px;
      }
      @media (max-width: 400px) {
         margin: 10px 0px 0px;
         width: 100%;
      }
   }
}

.height-active {
   flex: none;
}
.container-main {
   max-width: 1200px;
   padding: 0px 50px;
   margin: 0 auto;
   position: relative;
   z-index: 1;
   display: flex;
   @media (orientation: portrait) and (max-width: 600px) {
      padding: 0px 10px;
   }
   @media (orientation: landscape) and (max-height: 600px) {
      padding: 0px 10px;
   }
   @media (max-width: 400px) {
      height: 100%;
   }
}

// SERVICES=============================
.services {
   &__description {
      text-align: left;
      margin-top: 50px;
   }

   &__card-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   &__card {
      flex: 1 1 40%;
      margin: 50px 0px 0;
   }
   &__card:nth-child(odd) {
      margin-right: 25px;
   }
   &__card:nth-child(even) {
      margin-left: 25px;
   }
}
.more-blue {
   background-color: #9accd2;
}
.orange {
   background-color: #f0c59d;
}
.purple {
   background-color: #a871b1;
}
.blue {
   background-color: #c5e3e8;
}
.card {
   font-size: 22px;
   line-height: 26px;
   text-align: left;
   @media (max-width: 1000px) {
      font-size: 17px;
      line-height: 22px;
   }

   &__inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 35px;
      height: 100%;
   }

   &__icon {
      background-color: #000;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
   }
   &__icon svg {
      fill: #fff;
      object-fit: cover;
      width: 50%;
   }
   &__title {
      margin-bottom: 40px;
      @media (max-width: 1000px) {
         margin-bottom: 30px;
      }
   }

   &__description {
      margin-bottom: 40px;
      flex: 1 1 auto;
   }

   &__link-box {
   }

   &__link-item {
      font-weight: 600;
      text-decoration: underline;
   }
}

@import "swiper.scss";

.swiper-slide {
   height: auto;
   .services__card {
      height: 100%;
      margin: 20px 0 0;
   }
}

// HOME-AND-BUSINESS===============
.home-and-business {
   display: flex;

   &__inform {
      flex: 0 1 50%;
      align-self: flex-end;
      @media (max-width: 450px) {
         flex: 1 1 50%;
      }
   }

   &__image {
      flex: 1 1 50%;
      @media (max-width: 450px) {
         display: none;
      }
   }

   &__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
.inform {
   padding: 27px;

   &__inner {
   }
   &__inner .title {
      margin-bottom: 60px;
   }

   &__logo-inner {
      margin-top: 25px;
      padding: 33px 0px 23px;
      border-top: 1px solid #000000;
   }
}
.logo {
   &__title {
      font-weight: 700;
      margin-bottom: 25px;
   }

   &__subtitle {
      margin-bottom: 40px;
   }

   &__image {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 -21px;
   }

   &__image-item {
      margin: 0 21px;
      @media (max-width: 1200px) {
         margin: 0 21 / 1200 * 100vw;
      }
   }
   &__image-item img {
      width: 100%;
      height: 100%;
   }
}

// FIX FOR YOU===========================

.fix-for-you {
   background-color: #f0c59d;

   &__inner {
      display: flex;
      align-items: center;
      padding: 40px 0px;
   }

   &__title {
      flex: 1 1 50%;
   }

   &__description-inner {
      flex: 1 1 50%;
   }
}
.fix-for-you-description {
   @media (max-width: 1000px) {
      text-align: justify;
      font-size: calc(9px + (14 + 14 * 0.7) * (100vw - 320px) / 1200);
      line-height: calc(12px + (15 + 15 * 0.7) * (100vw - 320px) / 1200);
   }
   &__inform {
      margin-bottom: 34px;
      @media (max-width: 1000px) {
         margin-bottom: 20px;
      }
   }

   &__link-box {
   }

   &__link {
      font-weight: 600;
      text-decoration: underline;
   }
}

// SWIPER-GALLERY===================

.swiper-gallery {
   overflow-x: hidden;
}

.gallery__inner img {
   width: 100%;
   object-fit: contain;
}

// EASY-AND-SIMPLE======================

.easy-and-simple {
   background-color: #65c5d2;
   padding: 44px;
   &__inner {
      background-color: #fff;
      padding: 60px 30px;
      display: flex;
      @media (max-width: 400px) {
         padding: 30px 30px;
      }
   }

   &__image {
      flex: 1 1 50%;
      @media (max-width: 650px) {
         display: none;
      }
   }
   &__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__info {
      flex: 1 1 50%;
      margin-left: 35px;
      align-self: flex-end;
      @media (max-width: 650px) {
         margin-left: 0px;
      }
   }
}
.info {
   &__title {
      margin-bottom: 67px;
      @media (max-width: 1200px) {
         margin-bottom: 67 / 1200 * 100vw;
      }
   }
   &__btn-inner {
      margin-top: 44px;
      display: flex;
   }
   &__btn-inner button {
      flex: 0 2 60%;
      @media (max-width: 650px) {
         flex: 1 2 60%;
      }
   }
}

// OUR-CLIENTS===========================
.our-clients {
   &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__subtitle {
      margin-top: 44px;
      margin-bottom: 66px;
      font-weight: 400;
      font-size: 23px;
      line-height: 26px;
      @media (max-width: 1200px) {
         margin-top: 44 / 1200 * 100vw;
         margin-bottom: 66 / 1200 * 100vw;
      }
      @media (max-width: 1000px) {
         text-align: justify;
         font-size: calc(12px + (11 + 11 * 0.7) * ((100vw - 320px) / 1200));
         line-height: calc(19px + (8 + 8 * 0.7) * ((100vw - 320px) / 1200));
      }
   }

   &__logo {
      width: 100%;
   }

   &__link-box {
      margin-top: 44px;
      @media (max-width: 1200px) {
         margin-top: 44 / 1200 * 100vw;
      }
   }
   &__link {
      font-weight: 600;
      text-decoration: underline;
   }
}
.logo {
   &__image {
   }

   &__image-item {
   }
}

// same-day-repairs=======================

.same-day-repairs {
   &__inner {
      display: flex;
      @media (max-width: 650px) {
         flex-direction: column;
      }
   }

   &__image {
      flex: 1 1 50%;
   }
   &__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   &__info {
      flex: 1 1 50%;
      margin-left: 35px;
      margin-right: 27px;
      align-self: flex-end;
      @media (max-width: 650px) {
         margin-left: 27px;
      }
   }
}

// decor==============================

.decor {
   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      flex: 0 1 49%;
   }

   &__item:first-child,
   &__item:last-child {
      flex: 0 1 25%;
   }
   &__item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

// IPHONE-REPAIRS ========================
.iphone-repairs {

		&__inner {
		}

		&__top {
		}

		&__title {
		}

		&__icon {
		}

		&__opinions-inner {
		}
}
.arrow-down {
}
.opinion {

		&__inner {
		}

		&__title {
		}

		&__articles {
		}
}
